* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  :root {
    --primary-color: rgb(52, 51, 56);
    --secondary-color: #33a78f;
    --tertiary-color: #7395AE;
    --quaternary-color: #557A95;
    --quinary-color: #fff;
  }
  
  body {
      color: var(--tertiary-color);
      font-family: Helvetica, Arial, sans-serif;
      background: var(--primary-color); 
    }
  
  body section:not(.hero) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Header Formats */
  header {
      padding: 20px 35px;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: -webkit-sticky;
      position: sticky;
      z-index: 9999;
    }
  
    header h1 {
      font-weight: bold;
      font-size: 40px;
      color: var(--quinary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin: 0;
    }

    header h1 .n {
        color: firebrick;
    }
  
    header a {
      text-decoration: none;
      color: var(--quinary-color);
    }
  
    header nav {
      margin: 7px 0;
      
    }
  
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      
    }
  
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    } 
  
    header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }

/* Hero */

.hero {
    background-image: url("../images/universe-1.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

.hero-test {
    text-align: center;
    padding: 50px;
    color: var(--quinary-color);
}


/* About Me */

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:var(--secondary-color);
}

#about div {
  width:80%;
}

#about div:nth-child(1) {
  width:20%;
  text-align: center;
}

/* Portfolio */

#portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:var(--secondary-color);
}

#portfolio > div {
  width:80%;
}

#portfolio > div:nth-child(1) {
  width:20%;
  text-align: center;
}

.portfolio-grid-wrapper {
  display: flex;
  width: 100%;
 
}


.portfolio-grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 2fr);
  color:  var(--quinary-color);
  font-size: 1.2rem;
  grid-gap: 10px;
  
}

.portfolio-grid-item p {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.portfolio-grid-container a {
  text-decoration: none;
  color: #fff;
  display: flex;
}

.portfolio-grid-item {
  border: 2px solid var(--secondary-color);
  align-items: center;
  justify-content: center;
  position: relative;
}

.portfolio-grid-item img{
  width: 100%;
  height: auto;
  position: relative;
}

.portfolio-grid-item.impact {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

}

/* Contact */

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:var(--secondary-color);
}


#contact div:nth-child(1) {
  width:20%;
  text-align: center;
}

#contact div {
width:80%;
}

.contact-info ul li {
  padding: 5px;
  margin: 15px;
  list-style: none;
  display: inline-block;
  font-weight: bold;
  border-bottom: solid 2px var(--secondary-color);
}

.contact-info ul li a {
  text-decoration: none;
  color: var(--secondary-color); 
}


/* Misc */

.right-border {
  border-right: 3px solid var(--secondary-color);
}

.padding {
  padding: 20px;
}

/* Media Queries */

@media screen and (max-width: 980px) {


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

header nav ul li a {
  font-size: 2.5vw;
 
} 

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

  header nav ul li a {
    font-size: 3vw;
   
  }

  .mobile h2 {
    font-size: 20px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    justify-content: center;
  }

  .portfolio-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(5, 4fr);
    color:  var(--quinary-color);
    font-size: 1.2rem;
    grid-gap: 10px;
    
  }
 
  .portfolio-grid-item.impact {
    grid-column: 1;
    grid-row: 1;

  .contact-info ul li {
    padding: 3px;
    font-size: 2.5vw;
  }

  }