* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  :root {
    --primary-color: #5D5C61;
    --secondary-color: #379683;
    --tertiary-color: #7395AE;
    --quaternary-color: #557A95;
    --quinary-color: #fff;
  }
  
  body {
      color: var(--tertiary-color);
      font-family: Helvetica, Arial, sans-serif;
      background: var(--primary-color); 
    }
  
  /* Header Formats */
  header {
      padding: 20px 35px;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: -webkit-sticky;
      position: sticky;

      z-index: 9999;
    }
  
    header h1 {
      font-weight: bold;
      font-size: 36px;
      color: var(--quinary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin: 0;
    }

    header h1 .n {
        color: firebrick;
    }
  
    header a {
      text-decoration: none;
      color: var(--quinary-color);
    }
  
    header nav {
      margin: 7px 0;
    }
  
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      
    }
  
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    } 
  
    header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }

/* Hero */

.hero {
    background-image: url("../images/universe-1.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

.hero-test {
    text-align: center;
    padding: 50px;
    color: var(--quinary-color);
}


/* About Me */

.about-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#about div {
  width:70%;
}

#about div:nth-child(1) {
  width:30%;
}

/* Portfolio */

#portfolio{
  background: var(--primary-color); 
}

.portfolio-grid-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
 
}


.portfolio-grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 2fr);
  color:  var(--quinary-color);
  font-size: 1.2rem;
  grid-gap: 10px;
}

.portfolio-grid-item {
  padding: 15px 0;
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.portfolio-grid-item.impact {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-image: url("../images/pebbles.jpg");
  background-size: cover;
}

/* Contact */

#contact {

}
